.m-hmbg {
	cursor: pointer;
	display: block;
	height: 24px;
	overflow: hidden;
	font-size: 24px;
	position: absolute;
	left: 0;
	z-index: 10;
	top: 4px;
	.m-hmbg_toggle {
		position: relative;
		@include rotate(0deg);
		@include transition(.5s ease-in-out);
		cursor: pointer; 
		width: 21px;
		margin: 0 auto;
		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: $cl-white;
			opacity: 1;
			left: 0;
			@include rotate(0deg);
			@include transition(.25s ease-in-out); 
			&:nth-child(1) {
				top: 0;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			&:nth-child(2) {
				top: 6px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			&:nth-child(3) {
				top: 12px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
		}
	}
}