@import "_defaults/_mixins";
@import "_defaults/_normalize";
@import "_vars/_colors";
@import "_vars/_typography";
@import "modules/_typo"; 
@import "modules/_btn";
@import "modules/_hmbg";  

html {
	background: $cl-grey2;
}
body { 
	font: 400 16px/22px $font-secondary;
	background: $cl-grey2;
	p {
		font: 400 16px/22px $font-secondary;
	}
	a {
		font: 600 16px/22px $font-secondary;
	}
}      
.b-mainWrapper {
	max-width: 1280px;
	margin: 0 auto;
	min-height: 500px;
} 
.b-header {
	padding: 20px 0 30px;
	background: $cl-grey1;
	border-bottom: 1px solid $cl-grey2;
}
.b-logo {
	font-family: $font-primary;
	color: $cl-white;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 5px;
	float: left;
	margin: 20px 0 20px 30px;
	position: relative;
	padding-left: 35px;
	@include bp(tablet) {
		margin: 40px 0 0 80px;
	}
	span {
		font-weight: 400;
	} 
}
.b-lead {
	padding: 20px 30px;
	font-family: $font-secondary;
	color: $cl-greyA;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	@include bp(tablet) {
		font-size: 42px;
		padding: 40px 80px;
		line-height: 48px;
		max-width: 75%;
	}
	p {
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
	}
	b {
		color: $cl-white;
		font-weight: 400;
	}
}
.b-main {
	padding: 20px 20px 30px;
	@include bp(tablet) {
		padding: 20px 60px 30px;
	}
	background: $cl-grey1;
	border-bottom: 1px solid $cl-grey2;
}
.b-skill {
	.b-skill_headline {
		padding-top: 20px;
		padding-bottom: 40px;
		color: $cl-white;
		font-size: 52px;
		line-height: 58px;
		padding-left: 10px;
		font-family: $font-secondary;
		font-weight: 300;
		@include bp(tablet) {
			padding-left: 20px;
		}
	}
	.b-skill_item {
		padding: 10px 10px 20px;
		margin-bottom: 15px;
		@include bp(tablet) {
			padding: 10px 20px 20px;
		}
		&:hover {
			@include bp(tablet) {
				background: $cl-brown43;
				cursor: help;
				.b-skill_name {
					color: $cl-white;
					border-top: 1px solid $cl-brown43;
				}
				.b-skill_content {
					color: $cl-white;
				}
			}
		} 
		.b-skill_name {
			font-family: $font-secondary;
			font-weight: 300;
			color: $cl-greyA;
			font-size: 22px;
			margin-top: 5px;
			padding-top: 10px;
			border-top: 1px solid $cl-grey2;
			line-height: 28px;
			@include bp(tablet) {
				float: left; 
				width: 20%;
			}
		}
		.b-skill_content {
			font-family: $font-primary;
			font-weight: 400; 
			padding-top: 22px;
			font-size: 16px;
			color: $cl-greyD;
			line-height: 24px;
			@include bp(tablet) {
				float: right;
				font-size: 18px;
				width: 76%;
			}
		}
	}
}




