@import "_defaults/_mixins";
@import "_defaults/_normalize";
@import "_vars/_colors";
@import "_vars/_typography";
@import "modules/_typo"; 

body { 
	font: 400 16px/22px $font-secondary;
	p {
		font: 400 16px/22px $font-secondary;
	}
	a {
		font: 600 16px/22px $font-secondary;
	}
}      
.b-sidebar {
	@include bp(tablet) {
		align-items: center;
	    animation: 0.75s ease 0s normal none 1 running slideInRight;
	    background: #fff none repeat scroll 0 0;
	    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	    box-sizing: border-box;
	    display: flex; 
	    flex-direction: column;
	    height: inherit;
	    justify-content: center;
	    padding: 1rem 4rem;
	    width: 30%;
		float: left;
		top: 0;
		bottom: 0;
		position: fixed; 
	}
}
.b-mainContent {
	@include bp(tablet) {
		width: 75%;
		float: right;
	}
}
.b-personalData {
	padding: 20px 0;
	.b-personalData_icons {
		padding: 15px 0;
	}
	.b-personalData_icon {
		float: left;
		border: 1px solid $cl-blue00;
		width: 45px;
		height: 45px;
		text-align: center;
		line-height: 45px;
		display: block;
		margin-right: 10px;
		border-radius: 50%;
		font-size: 25px;
	}
}